{% extends 'base.html.twig' %}
{% block contenu %}
<div class="container-fluid">
    <div class="row">       
        <div class="col-md-3" >
            {{ form_start (vueFormulaire)}}
                {{ form_row (vueFormulaire.prenom, {'attr':{'placeholder':"Prénom de l'utilisateur"}})}}

                {{ form_row (vueFormulaire.nom,{'attr':{'placeholder':"Nom de l'utilisateur"}})}}

                {{ form_row (vueFormulaire.email,{'attr':{'placeholder':"Email de l'utilisateur"}})}}

                {{ form_row (vueFormulaire.password,{'attr':{'placeholder':"Mot de passe de l'utilisateur"}})}}

                <br>

                <button type="submit" class="btn btn-dark">S'inscrire</button>
                
            {{ form_end (vueFormulaire)}}            
        <br>
        <a href={{path('accueil')}} class="btn btn-dark">Revenir à l'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
