{% extends 'base.html.twig' %}

{% block title %}{{parent()}} d'accueil !{% endblock %}
{% block header %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-align: center }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>{{action}} une Entreprise</h1>
    </div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">       
        <div class="col-md-8 offset-2" >
            {{ form_start (vueFormulaireEntreprise)}}
                {{ form_row (vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise"}})}}

                {{ form_row (vueFormulaireEntreprise.activite,{'attr':{'placeholder':"Activité de l'entreprise"}})}}

                {{ form_row (vueFormulaireEntreprise.adresse,{'attr':{'placeholder':"Adresse de l'entreprise"}})}}

                {{ form_row (vueFormulaireEntreprise.urlSite,{'attr':{'placeholder':"URL de l'entreprise"}})}}

                <button type="submit" class="btn btn-dark">Enregistrer</button>
                
            {{ form_end (vueFormulaireEntreprise)}}            
        </div>
        <div>
            <a href={{path('accueil')}} class="text-black">Revenir à l'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
