{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
    <div class="row">       
        <div class="col-md-3" >
            <h2 class="text-decoration-underline">
                {{ action }} une entreprise :
            </h2>
            {{ form_start (vueFormulaireEntreprise)}}
                {{ form_row (vueFormulaireEntreprise.nom, {'attr':{'placeholder':"Nom de l'entreprise"}})}}

                {{ form_row (vueFormulaireEntreprise.activite,{'attr':{'placeholder':"Activité de l'entreprise"}})}}

                {{ form_row (vueFormulaireEntreprise.adresse,{'attr':{'placeholder':"Adresse de l'entreprise"}})}}

                {{ form_row (vueFormulaireEntreprise.urlSite,{'attr':{'placeholder':"URL de l'entreprise"}})}}

                <br>

                <button type="submit" class="btn btn-dark">Enregistrer</button>
                
            {{ form_end (vueFormulaireEntreprise)}}   

            <br>

            <a href={{path('accueil')}} class="btn btn-dark">Revenir à l'accueil</a>
        </div>
    </div>
</div>
{% endblock %}
