{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <br>
            <h2 class="text-decoration-underline">Liste des entreprises : </h2>
            <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for entreprise in entreprises %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ entreprise.nom }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                            {{entreprise.activite}}

                            </h6>
                        <p class="card-text"><b>Adresse :</b> {{entreprise.adresse}}<br>
                        <b>URL :</b> {{entreprise.urlSite}}</p>
                            <a href={{path('tri_entreprise',{'nom' : entreprise.nom})}} class="btn btn-dark">
                                Consulter
                            </a>
                            <a href={{ path('modifFormulaire', {'id' : entreprise.id}) }} class="btn btn-dark">
                                Modifier
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <br>
                    <a href={{path('formulaireEntreprise')}} class="btn btn-dark">
                        Ajouter une entreprise                                       
                    </a>
            </div>
        </div>
    </div>
{% endblock %}