{% extends 'base.html.twig' %}

{% block contenu %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <br>
            <h2 class="text-decoration-underline">Liste des stages : </h2>
            <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for stage in stages %}
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ stage.titre }}
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{ stage.email }}
                            </h6>
                            <p class="card-text">
                                {{ stage.description }}
                            </p>
                            <a href={{path('stage',{'id' : stage.id})}} class="btn btn-dark">
                                Consulter
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <br>
                    <a href={{path('formulaireStage')}} class="btn btn-dark">
                        Ajouter un stage                                        
                    </a>
            </div>
        </div>
    </div>
{% endblock %}    