{% extends 'base.html.twig' %}

{% block title %}{{parent()}} formations !{% endblock %}
{% block header %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-align: center }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Toutes les formations</h1>
    </div>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">              
        <div class="col-md-4">
            {% block entreprises %}  
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <h5 class="card-header">
                                <a href=/entreprises class= "text-black"> Entreprises</a>                               
                            </h5>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    {% for entreprise in entreprises %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <li><a href={{ path('tri_entreprise', {'nom' : entreprise.nom}) }} class="text-black">{{entreprise.nom}}</a></li>
                                            </div>
                                        </div>                                        
                                    {% endfor %}
                                </ul>
                                <a href={{ path('formulaireEntreprise') }} class="text-black">Ajouter une entreprise</a>
                            </div>                        
                        </div>
                    </div>
                </div>                              
            {% endblock %}

            {% block formations %}   
                <div class="row">
                    <div class="col-md-12">
                    <div class="card">
                            <h5 class="card-header">    
                                <a href=/formations class= "text-black"> Formations</a>
                            </h5>
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    {% for formation in formations %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <li><a href={{ path('tri_formation', {'nom' : formation.nomCourt}) }}) class="text-black">{{formation.nomCourt}}</a></li>
                                            </div>
                                        </div>  
                                    {% endfor %}
                                </ul>
                            </div>                        
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        {% block stages %} 
            <div class="col-md-8">
                {% for formation in formations %}
                <div class="card">
                    <h5 class="card-header">
                        <a href={{ path('tri_formation', {'nom' : formation.nomCourt}) }} class="text-black">{{formation.nomLong}}</a>
                    </h5>
                    <div class="card-body">
                        <p class="card-text"><b>Nom court :</b> {{formation.nomCourt}}</p>
                    </div>                        
                </div>                
                {% endfor %}
                <div>
                    <a href={{path('accueil')}} class="text-black">Revenir à l'accueil</a>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
    
{% endblock %}
