{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
    <div class="row">       
        <div class="col-md-3" >
            <h2 class="text-decoration-underline">
                Ajouter un stage :
            </h2>

            {{ form_start (vueFormulaireStage)}}
                {{ form_row (vueFormulaireStage.titre, {'attr':{'placeholder':"Titre du stage"}})}}

                {{ form_row (vueFormulaireStage.description,{'attr':{'placeholder':"Description du stage"}})}}

                {{ form_row (vueFormulaireStage.email,{'attr':{'placeholder':"Email du stage"}})}}

                {{ form_row (vueFormulaireStage.entreprise,)}}

                {{ form_row (vueFormulaireStage.formation,)}}

                <br>

                <button type="submit" class="btn btn-dark">Enregistrer</button>
                
            {{ form_end (vueFormulaireStage)}}            

            <br>

            <a href={{path('accueil')}}  class="btn btn-black" >Revenir à l'accueil</a>

        </div>
    </div>
</div>
{% endblock %}