{% extends 'base.html.twig' %}

{% block contenu %}
<div class="container-fluid">
    <div class="col-md-8">
        <div class="row">
		    <div class="col-md-12">
				<h4>
					Intitulé du stage
				</h4>
                <p>
                    {{stage.titre}}
                </p>
			</div>
		</div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Description de la mission
                </h4>
                <p>
                    {{stage.description}}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Mail de contact
                </h4>
                <p>
                    {{stage.email}}					
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Entreprise concernée
                </h4>
                <p>
                    <a href={{ path('tri_entreprise', {'nom' : entreprise.nom}) }} class="text-black"> {{entreprise.nom}}</a>				
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>
                    Formation(s) concernée(s)
                </h4>
                <p>
                    {% for formation in formationsStage %}
                        <div class="row">
                            <div class="col-md-12">
                                <li><a href={{ path('tri_formation', {'nom' : formation.nomCourt}) }} class="text-black"> {{formation.nomCourt}}</a></li>
                            </div>
                        </div>  
                    {% endfor %}					
                </p>
            </div>
        </div>
        <div>
            <a href={{path('accueil')}} class="text-black">Revenir à l'accueil</a>
        </div>
    </div>   
</div>
{% endblock %}